* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "arial";
}
.navbar {
  background-color: #0f1111;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}
.logo {
  background-image: url("images/amazon-logo.png");
  width: 114px;
  height: 40px;
  background-size: cover;
}
.nav-logo {
  width: 114px;
  height: 40px;
  border: 1px solid black;
  margin-left: 15px;
  padding: 4px 0 0;
}

.border:hover {
  border: 1px solid white;
}
.nav-location {
  width: 92px;
  height: 40px;
  margin: 5px 2px 5px 0;
  padding: 0 9px;
}

.nav-first {
  font-size: 12px;
  color: #cccccc;
  margin-left: 15px;
}
.nav-second {
  font-size: 14px;
  color: white;
  font-weight: bold;
  margin-left: 3px;
}
.location-icon {
  display: flex;
}
.nav-search {
  width: 710px;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 0 10px;
  padding: 10px 4px 10px 3px;
}

.search-select {
  width: 45px;
  height: 40px;
  text-align: center;
  background-color: #ffffffe8;
  color: #0f1111;
  font-size: 14px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.search-input {
  width: 100%;
  height: 40px;
  font-size: 15px;
  padding: 7px 10px 10px 0;
  border: none;
  outline: none;
}
.search-icon {
  width: 45px;
  height: 40px;
  background-color: #febd68;
  color: #0f1111;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0 4px 4px 0;
}

.nav-flag {
  width: 55px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.flag {
  background-image: url("images/flag.jpeg");
  width: 22px;
  height: 16px;
  background-size: cover;
  margin-right: 5px;
}
.nav-account {
  width: 120;
  height: 40px;
  margin: 0 0 0 2px;
  padding: 0 9px 10px;
}
.acc-first {
  font-size: 0.75rem;
  color: white;
}
.acc-second {
  font-size: 0.87rem;
  color: white;
  font-weight: bold;
}
.nav-return {
  width: 76;
  height: 40px;
  margin: 0 0 0 2px;
  padding: 0 9px 10px;
}
.return-first {
  font-size: 12px;
  color: white;
}
.return-second {
  font-size: 14px;
  color: white;
  font-weight: bold;
}
.nav-cart {
  width: 80px;
  height: 40px;
  margin: 0 11px 0 2px;
  padding: 0 9px 11px;
  display: flex;
  align-items: end;
}
.cart-icon {
  font-size: 25px;
  box-sizing: cover;
}
.nav-cart p {
  font-size: 14px;
  color: white;
  font-weight: bold;
  align-items: end;
  margin-left: 5px;
}
.bar {
  width: 100%;
  height: 40px;
  font-size: 12px;
  background-color: #232f3e;
  color: white;
  display: flex;
  align-items: center;
}
.bar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin-left: 15px;
}
.bar span {
  font-size: 15px;
  margin-left: 5px;
  font-weight: bold;
}
.bar-item p {
  font-size: 15px;
  display: inline;
  padding: 8px 9px;
  margin-left: 2px;
  font-weight: 100;
}

.hero-section {
  width: 100%;
  height: 280px;
}
.hero-image {
  width: 100%;
  height: 100%;
  background-image: url("images/hero-image2.jpg");
  background-size: cover;
}

.content-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e8e8e8;
}
.box {
  width: 22%;
  height: 360px;
  background-color: white;
  margin-bottom: 1.5rem;
}
.content-heading {
  color: #0f1111;
  font-size: 21px;
  margin: 1rem;
}
.content-image {
  height: 250px;
  background-size: cover;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.2rem;
}
.content-section a {
  text-decoration: none;
  color: #2162a1;
  font-size: 13px;
  margin-left: 1rem;
}
.content-section a:hover {
  text-decoration: none;
  color: #a9a3a3;
  font-size: 13px;
  margin-left: 1rem;
}

.container {
  width: 22%;
  height: 360px;
  background-color: white;
  margin-bottom: 1.5rem;
}
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.2rem;
  row-gap: 18px;
  column-gap: 1rem;
}
.child {
  height: 6.25rem;
  background-size: cover;
}

.container-heading {
  color: #0f1111;
  font-size: 21px;
  margin: 1rem;
}

.container-kitchen {
  width: 22%;
  height: 360px;
  background-color: white;
  margin-bottom: 1.5rem;
}

.parent p {
  color: rgba(57, 56, 56, 0.855);
  font-size: 12px;
  margin-top: 1px;
}
.container-para {
  color: #2162a1;
  font-size: 13px;
  margin-left: 1rem;
}

.parent2 p {
  color: rgba(57, 56, 56, 0.855);
  font-size: 12px;
  margin-top: 1px;
}

.parent2 {
  display: flex;
  justify-content: space-evenly;
}

.kitchen-child1 {
  height: 7.25rem;
  width: 16.5rem;
  background-size: cover;
  margin: 0 auto;
}

.kitchen-child {
  height: 6.25rem;
  width: 80px;
  background-repeat: no-repeat;
}

.child1-para {
  color: rgba(57, 56, 56, 0.855);
  font-size: 12px;
  margin-top: 1px;
  margin-left: 1rem;
  margin-bottom: 20px;
}

.paragraph {
  color: #2162a1;
  font-size: 13px;
  margin-left: 1rem;
  margin-top: 5px;
}

.container2 {
  width: 95%;
  height: 360px;
  background-color: white;
  margin-bottom: 1.5rem;
}

.container2-heading {
  color: #0f1111;
  font-size: 21px;
  margin: 1rem;
}

.container2-parent {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  scroll-snap-type: x mandatory; /* Optional: Snap scrolling */
  gap: 1rem; /* Add gap between child elements */
  padding-bottom: 1rem; /* Add padding to avoid cutting off content */
}

.container2-parent-child {
  gap: 1rem;
  flex: 0 0 auto;
  width: 22%;
  height: 294px;
  background-repeat: no-repeat;
  background-position: center;
  scroll-snap-align: start;
}

.signin-box {
  width: 100%;
  height: 200px;
}
.signin-content {
  width: 100%;
  height: 72%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  border-top: 1px solid rgb(172, 168, 168);
  border-bottom: 1px solid rgb(172, 168, 168);
}
.signin-heading {
  margin-bottom: 0.7rem;
}

.signin-btn {
  width: 15rem;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eded31;
  border-radius: 1.5rem;
  color: #0f1111;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.signin-link {
  font-size: 11px;
  margin-top: 5px;
}

.footer {
  width: 100%;
  height: 380px;
  background-color: #232f3e;
}
.footer-content-box {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: space-evenly;
}
.footer-box h2 {
  color: white;
  margin-top: 1.3rem;
  font-size: 1.2rem;
}
.footer-box p {
  color: rgb(214, 210, 210);
  margin-top: 7px;
  font-size: 13px;
}
.footer-bottom {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(156, 154, 154);
}
.footer-bottom-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-btn {
  height: 34px;
  color: rgb(224, 223, 223);
  border: 1px solid rgb(153, 150, 150);
  padding: 5px 10px;
  margin-left: 5px;
  background-color: transparent;
}
.footer-bottom-content div {
  width: 100px;
  height: 40px;
  margin-top: 1rem;
  margin-right: 5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Media Queries for Mobile Responsiveness */

@media (max-width: 1200px) {
  .nav-search {
    width: 500px;
  }

  .box,
  .container,
  .container-kitchen {
    width: 30%;
  }

  .container2-parent-child {
    width: 30%;
  }
}

@media (max-width: 992px) {
  .nav-search {
    width: 400px;
  }

  .box,
  .container,
  .container-kitchen {
    width: 45%;
  }

  .hero-section {
    height: 200px;
  }

  .container-kitchen {
    width: 50%;
  }
  .kitchen-child1 {
    height: 8rem;
    width: 29rem;
  }
  .kitchen-child {
    height: 6rem;
    width: 120px;
    background-repeat: no-repeat;
  }

  .container2-parent-child {
    width: 30%;
  }
  .footer-content-box {
    text-align: center;
  }

  .footer-box h2 {
    font-size: 1rem;
    margin-top: 1.3rem;
  }

  .footer-box {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    height: auto;
    padding: 10px;
  }
  .nav-search {
    width: 100%;
    margin: 10px 0;
  }
  .hero-section {
    height: 150px;
  }
  .footer-box {
    margin-bottom: 20px;
    width: 100%;
  }
  .footer {
    height: 450px;
  }
  .footer-content-box {
    display: flex;
    text-align: space-between;
    flex-wrap: wrap;
  }
  .footer-box h2 {
    font-size: 1rem;
    margin-top: 1.3rem;
  }

  .container2-parent-child {
    width: 45%;
  }
  .footer-bottom {
    width: 100%;
    height: 100px;
    display: flex;
    margin-top: 0rem;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(156, 154, 154);
    background-color: #232f3e;
    border: 1px solid rgb(156, 154, 154);
  }
  .footer-bottom-content {
    display: flex;
    justify-content: center;
    margin-left: 7rem;
    margin-right: 7rem;
  }
  .footer-btn {
    height: 34px;
    color: rgb(224, 223, 223);
    padding: 5px 10px;
    background-color: transparent;
  }
  .footer-bottom {
    border: none;
  }
}

@media (max-width: 576px) {
  .navbar {
    flex-wrap: wrap;
    height: auto;
    padding: 10px;
  }
  .nav-search {
    width: 100%;
    margin: 10px 0;
  }
  .nav-logo {
    border: none;
    height: 40px;
    width: 8rem;
  }
  .nav-first,
  .nac-second,
  .nav-account,
  .nav-flag,
  .nav-return,
  .nav-cart {
    font-size: x-small;
  }
  .nav-account,
  .nav-return {
    margin-top: 1rem;
  }
  .border:hover {
    border: none;
  }
  .bar-icon,
  span {
    display: none;
  }
  .bar-item p {
    font-size: small;
    padding: 5px 0px;
    margin-left: 11px;
  }
  .content-section {
    justify-content: center;
  }
  .box {
    width: 100%;
    height: 360px;
    background-color: white;
    margin-bottom: 1.5rem;
  }
  .content-heading {
    font-size: 19px;
  }
  .container {
    width: 100%;
  }
  .parent {
    row-gap: 10px;
    column-gap: 0.5rem;
  }
  .container-heading {
    font-size: 19px;
  }
  .container-kitchen {
    width: 100%;
  }
  .kitchen-child1 {
    height: 8rem;
    width: 22rem;
  }
  .kitchen-child {
    height: 6rem;
    width: 100px;
    background-repeat: no-repeat;
  }
  .child1-para {
    margin-bottom: 12px;
  }
  .paragraph {
    margin-top: 9px;
  }

  .hero-section {
    height: 90px;
  }
  .container2-parent-child {
    width: 45%;
  }
  .signin-heading {
    margin-bottom: 0.7rem;
    font-size: 1.3rem;
  }
  .footer {
    width: 100%;
    height: 57rem;
    background-color: #232f3e;
  }
  .footer-content-box {
    width: 100%;
    height: 50rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-left: 2rem;
  }
  .footer-bottom {
    width: 100%;
    height: 6rem;
  }
  .footer-bottom-content div {
    display: flex;
  }
  .footer-btn {
    border: none;
    font-size: x-small;
  }
  .footer-bottom-content div {
    width: 4rem;
    height: 4rem;
    margin-left: 2rem;
  }
}
